<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django CRUD Auth</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'tasks' %}">Tasks</a></li>
        <li><a href="{% url 'tasks-create' %}">Create-Task</a></li>
        <li><a href="{% url 'tasks-completed' %}">Completed-Tasks</a></li>
        <li><a href="{% url 'logout' %}">LogOut</a></li>
        {% else %}
        <li><a href="{% url 'signin' %}">SignIn</a></li>
        <li><a href="{% url 'signup' %}">SignUp</a></li>
        {% endif %}
      </ul>
    </nav>

    {% block content %} {% endblock %}
  </body>
</html>
