{% extends "base.html" %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      {% if tasks %}
      <h1 class="text-center display-6 py-5">Completed Tasks</h1>
      <ul class="list-group">
        {% for task in tasks %}
        <a class="list-group-item">
          {% if task.important %}
          <p class="h1 display-6 fw-bold">{{task.title}}</p>
          {% else %}
          <p class="h1 display-6">{{task.title}}</p>
          {% endif %}
          <p>{{task.description}}</p>
        </a>
        {%endfor%}
      </ul>
      {% else %}
      <p>No completed tasks yet.</p>
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}
